{% block content %}
  <div class="icon-legend">
     <div>
       <img src="{{ url_for('Vehicle.static', filename='images/car_yellow.png') }}" alt="Yellow Car" />
       Stationary (0 km/h)
     </div>
     <div>
       <img src="{{ url_for('Vehicle.static', filename='images/car_green.png') }}" alt="Green Car" />
       Slow Speed (0-40 km/h)
     </div>
     <div>
       <img src="{{ url_for('Vehicle.static', filename='images/car_blue.png') }}" alt="Blue Car" />
       Moderate Speed (40-60 km/h)
     </div>
     <div>
       <img src="{{ url_for('Vehicle.static', filename='images/car_red.png') }}" alt="Red Car" />
       High Speed (Above 60 km/h)
     </div>
     <div>
       <img src="{{ url_for('Vehicle.static', filename='images/car_black.png') }}" alt="Black Car" />
       Stationary for more than 24 hours
     </div>
  </div>

  <div id="map" class="map"></div>
  
  <div class="floating-card" id="floating-card" style="z-index: 1;">
    <button onclick="toggleFloatingCard()">Toggle Card</button>
    <h3>All Vehicles: <span id="vehicle-count"></span></h3>
    <div id="vehicle-list"></div>
  </div>

  <!-- Table to display vehicle data -->
  <div id="vehicle-table-container" style="display: none;">
    <table id="vehicle-table">
      <thead>
        <tr>
          <th>IMEI</th>
          <th>Speed</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Last Update</th>
          <th>Location</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>

  <script>
    function toggleFloatingCard() {
      const card = document.getElementById('floating-card');
      if (card.style.display === 'none') {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    }
  </script>
{% endblock %}