{% extends "base.html" %}

{% block head %}
<title>Assign Vehicles</title>
<link rel="stylesheet" href="{{ url_for('VehicleAssign.static', filename='css/vehicleAssign.css') }}">
<script defer src="{{ url_for('VehicleAssign.static', filename='js/vehicleAssign.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
{% endblock %}

{% block h1 %}
Assign Vehicles to Users
{% endblock %}

{% block block_container %}
<form id="assignForm">
    <div>
        <label for="vehicles">Select Vehicles:</label>
        <select id="vehicles" name="vehicles" multiple required>
            {% for vehicle in vehicles %}
            <option value="{{ vehicle['_id'] }}">{{ vehicle['LicensePlateNumber'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="users">Select Users:</label>
        <select id="users" name="users" multiple required>
            {% for user in users %}
            <option value="{{ user['_id'] }}">{{ user['username'] }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Assign</button>
</form>
<div id="responseMessage"></div>
{% endblock %}