{% extends "base.html" %}

{% block head %}
<title>User Configuration</title>
<link rel="stylesheet" href="{{ url_for('userConfig.static', filename='css/userConfig.css') }}">
<script defer src="{{ url_for('userConfig.static', filename='js/userConfig.js') }}"></script>
{% endblock %}

{% block h1 %}
User Configuration
{% endblock %}

{% block block_container %}
<div class="user-config-form">
  <h2>Your Configuration</h2>
  <form id="userConfigForm">
    <div class="form-group">
      <label for="darkMode">Dark Mode</label>
      <select id="darkMode" name="darkMode">
        <option value="true" {{ 'selected' if userConfigs.darkMode == 'true' }}>True</option>
        <option value="false" {{ 'selected' if userConfigs.darkMode == 'false' }}>False</option>
      </select>
    </div>
    <div class="form-group">
      <label for="alertsSound">Dark Mode</label>
      <select id="alertsSound" name="alertsSound">
        <option value="true" {{ 'selected' if userConfigs.alertsSound == 'true' }}>True</option>
        <option value="false" {{ 'selected' if userConfigs.alertsSound == 'false' }}>False</option>
      </select>
    </div>
    <div class="form-group">
      <label for="alerts">Alerts</label>
      <select id="alerts" name="alerts" multiple>
        <option value = "" {% if not userConfigs.alerts %}selected{% endif %}>None</option>
        {% set all_alert_types = [
          'speeding_alerts', 'harsh_break_alerts', 'harsh_acceleration_alerts', 'gsm_low_alerts',
          'internal_battery_low_alerts', 'idle_alerts', 'ignition_off_alerts', 'ignition_on_alerts'
        ] %}
        {% for alert in all_alert_types %}
        <option value="{{ alert }}" {% if alert in userConfigs.alerts %}selected{% endif %}>
          {{ alert.replace('_', ' ').title() }}
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn" id="saveConfigBtn">Save Configuration</button>
  </form>
</div>
{% endblock %}