table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #042f5d;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #042f5d;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  background-color: #fdfdfd;
  color: black;
}

td button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

td button:hover {
  background-color: #218838;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

#search-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}

#search-input {
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.dropdown .submenu {
  display: none;
  list-style: none;
  padding-left: 15px;
}

.dropdown:hover .submenu {
  display: block;
}

.submenu li {
  margin: 5px 0;
}

.submenu li a {
  text-decoration: none;
  color: #fff;
}

.submenu li a:hover {
  text-decoration: underline;
}

.table-responsive {
  margin: auto;
  width: 95%;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.form-control {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}
