body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}
.container {
  width: 96vw;
  margin: 1vh 1vw;
  background: #fff;
  border-radius: 2vh;
  box-shadow: 0 1vh 1vw #0002;
  padding: 1vh 1vw;
  height: 96vh;
}
#map {
  width: 100%;
  height: 60vh;
  border-radius: 2vh;
  margin-bottom: 1vh;
}
.info {
  margin-top: 3vh;
}
#route-btn {
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 1vw 1vh;
  border-radius: 1vh;
  font-size: 2vh;
  cursor: pointer;
}
#route-btn:hover {
  background: #1565c0;
}
