.container {
  display: flex;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.table-container {
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-right: 1px solid #ddd;
  padding: 20px;
  border-radius: 15px 0 0 15px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #042f5d;
}
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #042f5d;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
table tbody tr:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
#map {
  width: 50%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}
.container:hover .table-container {
  transform: translateX(10px);
  transition: transform 0.5s ease;
}
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tbody tr:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
button:focus {
  outline: 0;
}
#search-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}
#search-input {
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}
#search-btn {
  padding: 10px 15px;
  background-color: #042f5d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#search-btn:hover {
  background-color: #0056b3;
}
