<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cordonNXTabIcon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename = 'js/config.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <script src="https://unpkg.com/deck.gl@8.9.27/dist.min.js"></script>
    <script src="https://unpkg.com/@deck.gl/google-maps@8.9.27/dist.min.js"></script>

    <meta name="csrf-token" content="{{ csrf_token }}">

    <script src="https://cdn.jsdelivr.net/npm/@tweenjs/tween.js@18.6.4/dist/tween.umd.js"></script>
    <!-- prettier-ignore -->
    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyCHlZGVWKK4ibhGfF__nv9B55VxCc-US84", v: "weekly" });</script>

    {% block head %}{% endblock %}
</head>

<body>
    <div id="userID-data" style="display: none;" data-userID="{{ user_id }}"></div>
    <div id="username-data" style="display: none;" data-username="{{ username }}"></div>
    <div id="role-data" style="display: none;" data-role="{{ role }}"></div>
    <div id="companyID-data" style="display: none;" data-companyID="{{ company_id }}"></div>
    <div id="company-data" style="display: none;" data-company="{{ company }}"></div>
    <div id="dark-mode-data" style="display: none;" data-dark-mode="{{ dark_mode }}"></div>
    <div id="alert-sound-data" style="display: none;" data-alert-sound="{{ alert_sound }}"></div>
    <div id="displayMap" class = "displayMap"></div>
    <div class="layout">
        <div class="topbar">
            <h1>{% block h1 %} {% endblock %}</h1>
            <div class="topbar-icons">
                {% block topbar_icons %}{% endblock %}
                <div class="theme-toggle" id="theme-toggle">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="notification" id="notification-bell">
                    <i class="fa-solid fa-bell"></i>
                    <span class="badge" id="notification-count">0</span>
                    <div class="notification-dropdown" id="notification-dropdown" style="display:none;">
                        <div class="notification-header">New Alerts</div>
                        <ul id="notification-list"></ul>
                        <div class="notification-footer">
                            <a href="{{ url_for('Alerts.page') }}">View All Alerts</a>
                        </div>
                    </div>
                </div>
                <div class="profile" id="profile">
                    <img src="{{ url_for('userConfig.getCompanyLogo') }}" alt="User">
                    <div class="profile-hover" id="profile-hover">
                        <div class="dashboard-container">
                            <h2>Hello, {{ username }}!</h2>
                            <div class="user-info">
                                <p>
                                    <a href="{{ url_for('userConfig.page') }}" class="profile-link">
                                        <i class="fa-solid fa-user"></i> Profile Settings
                                    </a>
                                </p>
                                {% if company != 'None' %}
                                <p><strong>Company Name:</strong> {{ company }}</p>
                                {% endif %}
                                <p><strong>Role:</strong> {{ role }}</p>
                            </div>

                            <form action="{{ url_for('auth.logout') }}" method="POST">
                                {% if csrf_token %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                {% endif %}
                                <button type="submit" class="button button-logout">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="sidebar">
                <div class="logo">
                    <img src="logo.png" alt="Logo">
                    <h2 class="sidebar-text">Cordon</h2>
                </div>

                <ul class="menu">
                    {% if role == 'admin' or role == 'clientAdmin' or role == 'user' %}
                    <li>
                        <a href="{{url_for('Dashboard.page')}}" class="menu-item">
                            <i class="fa-solid fa-chart-bar"></i> <span class="sidebar-text">Fleet Analytics</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Vehicle.map')}}" class="menu-item nav-link">
                            <i class="fa-solid fa-map-location-dot"></i> <span class="sidebar-text">Live Vehicles</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Alerts.page')}}" class="menu-item nav-link">
                            <i class="fa-solid fa-bell"></i> <span class="sidebar-text">Alerts</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Reports.index')}}" class="menu-item">
                            <i class="fa-solid fa-file-alt"></i> <span class="sidebar-text">Reports</span>
                        </a>
                    </li>
                    {% if role == 'clientAdmin' %}
                    <li>
                        <a href="{{ url_for('VehicleAssign.assign_vehicles') }}" class="menu-item">
                            <i class="fa-solid fa-file-alt"></i> <span class="sidebar-text">Assign Vehicles</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if role == 'admin' %}
                    <li class="dropdown">
                        <a href="#" class="menu-item">
                            <i class="fa-solid fa-user"></i> <span class="sidebar-text">Register</span>
                            <span class="arrow">&#x25BC;</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="{{ url_for('auth.register_client_admin') }}">Register Clients</a> <i
                                    class="fa-solid fa-id-card" style='white-space:pre'></i></li>
                            <li><a href="{{ url_for('auth.register') }}">Register Sub-Accounts</a> <i
                                    class="fa-solid fa-user" style='white-space:pre'></i>
                            </li>
                            <li><a href="{{ url_for('auth.register_inventory') }}">Register Inventory Accounts</a> <i
                                    class="fa-solid fa-user" style='white-space:pre'></i>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if role == 'clientAdmin' %}
                    <li><a href="{{ url_for('auth.register') }}" class="menu-item"><i class="fa-solid fa-user"></i>
                            <span class="sidebar-text">Register subaccounts</span></a></li>
                    {% endif %}
                    {% endif %}
                    {% if role == 'admin'%}
                    <li class="dropdown">
                        <a href="#" class="menu-item">
                            <i class="fa-solid fa-archive"></i>
                            <span class="sidebar-text">Inventory</span>
                            <span class="arrow">&#x25BC;</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{{url_for('CompanyDetails.page')}}">
                                    Company Details
                                    <i class="fa-solid fa-building" style='white-space:pre'></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="submenu">
                            <li>
                                <a href="{{url_for('DeviceInvy.page')}}">
                                    Device Inventory
                                    <i class="fa-solid fa-microchip" style='white-space:pre'></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="submenu">
                            <li>
                                <a href="{{url_for('SimInvy.page')}}">
                                    Sim Inventory
                                    <i class="fa-solid fa-sim-card" style='white-space:pre'></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="submenu">
                            <li>
                                <a href="{{url_for('VehicleDetails.page')}}">
                                    Vehicle Details
                                    <i class="fa-solid fa-warehouse" style='white-space:pre'></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div id="block-container" class="block-container" style>
                {% block block_container %}{% endblock %}
            </div>
        </div>
    </div>

    <div id="flash-messages-container" class="flash-messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            <span>{{ message }}</span>
            <button class="close-btn" onclick="this.parentElement.remove()">×</button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

</body>

</html>